*{
    font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR*/
.nav-container{
    display: flex;
    justify-content: space-between;
}


#logo{
    margin-left: 0px;
    margin: 0;
    padding: 0;
}

#links{
    display: flex;
    gap: 42px;
   
    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: none;
}

header{
   background-color: #1F2937;

}

/*END OF STYLING NARBAR*/


/*--------INTRODUCTION CONTENT---------*/

/*---------LEFT BOX--------*/
.intro-container{
    display: flex;
    justify-content: space-between;
    padding: 166px;
    background-color: #1F2937;
    color: white;
    
}

#sign-up{
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    padding: 5px;
    width: 97px;
    border-radius: 8px;
    
}


/*----rightbox---------*/

.right-box{
   height: 175px;
   width: 418px;
   background-color: rgb(162, 163, 163);
}

.right-box p{
    display: flex;
    justify-content: center;
    margin-top: 67px;
    color: white;
}

/*-------MAIN HEADER "some random information"---------*/

.main-header h2{
    text-align: center;
    margin-bottom: -144px;
}


/*--------FOUR BOXES CONTAINER--------*/ 

.box-container{
    justify-content: center;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 297px;

}

.box1,
.box2,
.box3,
.box4{
    height: 80px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border: 1px blue solid;
    border-radius: 9px;
   


}

.box-text{
    text-align: center;
    font-weight: normal;
    margin-top: 90px;
    
   
}
/*THE GREY BOX WITH THE QUOTE INSIDE*/
.quote-container{
  height: 171px;
  width: 100%;
  background-color: #E5E7EB;
  padding: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box > p{
    font-weight: normal;
    font-style: italic;
}
#nameof-writer{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
/*END OF THE GREY BOX WITH THE QUOTE INSIDE*/

/*------bluebox----------*/

.signup-container{
    display: flex;
    justify-content: center;
    padding: 43px;
}

.signup-box{
    height: 90px;
    width: 490px;
    background-color: #3882f6;
    border: 1px #3882f6 solid;
    border-radius: 9px;
    
}

/*container that wraps the button, allowing me to use displaylflex*/
.button-container{
    display: flex;
    justify-content:flex-end;
   
}

#sign-button2{
    margin-top: 38px;
    margin-right: 56px;
    width: 88px;
    height: 27px;
    border-radius: 4px;
    border: 1px white solid;
    background-color: #3882f6;
    color: white;
}


.button-container > h5{
    color: white;

   
   
}


.header-textcontainer{
    display: block;
    padding: 39px;
    margin-top: -27px;
  
    
}

.header-textcontainer > h5{
    margin-bottom: -13px;
    color: white;
}

.header-textcontainer > p{
    font-size: 11px;
    color: white;
   
}

#footer-id{ 
    background-color: #1f2937;
    height: 171px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-id > p{
    
    color: white;

}