
/* NAVBAR*/
.nav-container{
    display: flex;
    justify-content: space-between;
}


#logo{
    margin-left: 0px;
    margin: 0;
    padding: 0;
}

#links{
    display: flex;
    gap: 42px;
   
    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: none;
}

header{
   background-color: #1F2937;
}

/*END OF STYLING NARBAR*/


/*--------INTRODUCTION CONTENT---------*/

/*---------LEFT BOX--------*/
.intro-container{
    display: flex;
    justify-content: space-between;
    padding: 166px;
    background-color: #1F2937;
    color: white;
}

#sign-up{
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    padding: 5px;
    width: 97px;
    border-radius: 8px;
    
}


/*----rightbox---------*/

.right-box{
   height: 175px;
   width: 418px;
   background-color: rgb(162, 163, 163);
}

.right-box p{
    display: flex;
    justify-content: center;
    margin-top: 67px;
    color: white;
}

/*-------MAIN HEADER "some random information"---------*/

.main-header h2{
    text-align: center;
    margin-bottom: -144px;
}


/*--------FOUR BOXES CONTAINER--------*/ 

.box-container{
    justify-content: center;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 297px;

}

.box1,
.box2,
.box3,
.box4{
    height: 80px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border: 1px blue solid;
    border-radius: 9px;
   


}

.box-text{
    text-align: center;
    font-weight: normal;
    margin-top: 90px;
    
   
}

